apiVersion: v1
kind: ConfigMap
metadata:
  name: my-app-conf
  namespace: sirius
data:
  default.conf.template: |
    server {
      listen 80;

      location /api {
        proxy_pass http://localhost:8081; 
      }
    }
